# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
dist-ssr
*.local
.env
.env.*
!.env.example

# Editor files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
